/* BASE STYLES */
* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    margin-bottom: 15px;
    font-size: 175%;
    text-align: center;
}

section {
    position: relative;
    border: 1px solid black;
    background-color: rgb(204, 204, 204);
    height: 200px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    overflow: scroll;
}

p.title {
    border: 1px solid black;
    position: absolute;
    margin: 0px;
    top: 0px;
    right: 0%;
    height: 25px;
    width: 100px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
}

p#html-title {
    background-color: pink;
}

p#css-title {
    background-color: lightblue;
}

p#js-title {
    background-color: palegoldenrod;
}

p.info {
    position: absolute;
    margin: 0;
    padding: 35px;
    text-align: justify;
}

.row {
    width: 100%;
}

.col-lg-4, .col-md-6, .col-md-12, .col-sm-12 {
    float: left;
    /* border: 1px solid rgb(204, 204, 204); */
}

/* DESKTOP VIEW */
@media (min-width: 992px) {
    .col-lg-4 {
        width: 33.33%;
    }
}

/* TABLET VIEW */
@media (min-width: 768px) and (max-width: 991px) {
    .col-md-6 {
        width: 50%;
    }

    .col-md-12 {
        width: 100%;
    }

    #js-section {
        width: 95%;
    }
}

/* MOBILE VIEW */
@media (max-width: 767px) {
    .col-sm-12 {
        width: 100%;
    }
}